--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
leafmap
owslib
streamlit
pandas
numpy
requests
beautifulsoup4
inline
squarify
seaborn 


import matplotlib.pyplot

matplotlib
seaborn 
plotly.offline
plotly.express 
plotly.graph_objects
plotly.subplots
squarify
